@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,400;1,300&display=swap');

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;}


.navbar{background-color: palevioletred;}

@media only screen and (min-width:768px) {.navbar-collapse{
    display: flex;
    justify-content: end;
 }}

 @media only screen and (min-width:0) and (max-width:754px){.call p      {
    background-color: palevioletred;
    font-size: 20px;
color: black;}}

@media only screen and (min-width:0) and (max-width:754px){.principal img  {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
 background-image: white }


}

@media only screen and (min-width:0) and (max-width:754px){.call a   {
    
    font-size: 20px;
color: pink;


}}

@media only screen and (min-width:768px){.footer p  {
    
    font-size: 30px;
color: palevioletred;

}} 

@media only screen and (min-width:768px){.footer   {
 height: 200px;

}}

main a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: pink;
    font-size: 30px;
    text-decoration: none;
}

 .principal{height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;background-attachment: fixed;
 background-image: url(../img/imagen1.png.jpeg);}

 .call {background-color: palevioletred;
    font-size: 30px;
    }

    footer{
        height: 200px;
        display: flex;
        justify-content: space-between; padding: 30px;
        font-size: 15px;
        color: pink;
        background-color:black;
    }

    main .call :hover{
        color: black;
    } 
    
Footer img{ height: 50px;
    width: 50px;
padding: 5px;}

.titulo{padding-top:10px;
    text-align: center;
    color: black;
font-family: 'Open Sans', sans-serif;}
    
@media only screen and (max-width:350px) and (max-width:476px) {.galeria   {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 200px); 
    grid-template-areas: "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
   ;


}}

    .galeria{padding: 100px;
        
        justify-content: space-around;
        height: 650px;
        margin-bottom: 5px;
        display: grid;
        width: 100%;
        display: grid;
        background-color: grey;
        ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: "img1 img2 img3 img3"
                              "img1 img4  img5 img6"
                              "img7 img4 img8 img8";
        grid-gap: 16px;
        padding: 10px;
        }

        .item{
            border:4px solid black;
             background-size: cover;
            background-position: center;
            transition: all  0.7s; }
            .item1{
                background-image: url(../img/botongaleria.jpg);
                grid-area: img1;
               }
               .item2{background-image:url(../img/imagenheroe.png);
            grid-area: img2;}
            
               .item3{background-image: 
                url(../img/imagenfondoquehacemos.jpg);
            grid-area: img3;}
            
            .item4{background-image: url(../img/imagenquiensomos.jpeg);
            grid-area: img4;}
            
            .item5{
                background-image: url(../img/imagen5.jpg);
                grid-area: img5;
            }
            .item6{
                background-image: url(../img/imagen6.jpg);
                grid-area: img6;
            }
            .item7{background-image: url(../img/imagen7.jpg);
            grid-area: img7;}
            
            .item8{background-image: url(../img/imagen8.jpg);
            grid-area: img8;}
            
            
            
            .item:hover{ 
                filter: grayscale(0%);
            transform: scale(1.2);}