@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,400;1,300&display=swap');

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;}

.nav-link{
    color: black !important;
    font-family: 'Roboto';
    
}

.img-navbar{padding-right: 100x;}

h2{ font-size: 30px;}
p{font-size: 25px;}
header{
    height: 40px;
    display: flex;
    justify-content: space-between; padding: 25px;
    font-size: 22px;
}

header aside img{
    height: 70%;
    padding: 15px;
    }


header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}
header a{
    color:black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
  
}



.principal{height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
 background-image: url(../img/imagen1.png.jpeg);


}

.call{background-color: rgba(250, 251, 253, .6);
font-size: medium;
}

main div p {
    font-size: 50px;
    color: black;
}

main  a {display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
color: white;
font-size: 30px;
text-decoration: none;}

main a:hover{
    color: black;
} 

footer{
    height: 200px;
    display: flex;
    justify-content: space-between; padding: 30px;
    font-size: 15px;
    color: beige;
    background-color: black;
}

Footer img{ height: 50px;
    width: 50px;
padding: 10px;}

    .footer-imagen{font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;}

    .nosotros{display: flex;
        justify-content: space-between; padding: 25px;
    height: 700px;}

    .nosotros-imagen{
        width: 100%;
        display: flex;
        justify-content: space-between; padding: 25px;
        
    }
.quien{
    background-image: url(../img/imagenquiensomos.jpeg);
    background-attachment: fixed;
    height: 600px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 25px;;
    
}
    main div aside p {
        font-size: 25px;
    }

    h2{
        font-size: 30px;
    }

    
.footer-contacto{height: auto;}
    .main div p {font-size: 25px;}
    .formato
    {margin: 100px;
   ;
border-color: black;
border-style: double;
border-width: 5px;
height: 600px;
}

.formato-fondo{background-image: url(../img/fondonos\ -\ Copy.jpg);
background-size: cover;
background-attachment: fixed;
margin:20px ;}
.video{display: flex;
justify-content: center     ;
margin: 20px;}

.comentarios{height: 50px;}

.jumbotron aside p{
    font-size: 20px;
    color: black;
    background-color: rgba(250, 251, 253, .2)
}
.fondo-servicios
{background-color: rgba(155, 155, 155,.9);}
.carta{
    height: auto;
    width: 25%;
    background-color: antiquewhite;
    margin: 50px;
    text-align: center;
    border: 7px double black;
    overflow: auto;
   

}
.carta-imagen{
    height: 300px;
    width: 100%;
    background-image: url(../img/imagen1.png.jpeg);
    background-size: cover;
    background-position: center;
}

.carta-imagen2{
    height: 300px;
    width: 100%;
    background-image: url(../img/botongaleria.jpg);
    background-size: cover;
    background-position: center;
}

.carta-imagen3{
    height: 300px;
    width: 100%;
    background-image: url(../img/premium_photo-1664297828363-1b1bf7d88592.avif);
    background-size: cover;
    background-position: center;
}
.jumbotron{background-image: url(../img/imagenfondoquehacemos.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;

;}

.carta-imagen4{
    height: 300px;
    width: 100%;
    background-image: url(../img/imagenquiensomos.jpeg);
    background-size: cover;
    background-position: center;
}
.carta-titulo
{
    margin-bottom: 8px;
    margin-top:8px;
}
.carta a {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: grey;
 



}

.section{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    height: auto;
    
}
.section p{font-size: medium;}

.titulo-que
{padding-top:10px;
text-align: center;
color: black;}

.section  a{
    font-size: medium;
display:flex;
justify-content: baseline;
}


.galeria{padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    height: auto;

  
    }

    

.galeria{
    display: grid;
    width: 100%;
   
    background-color: whitesmoke;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "img1 img2 img3 img3"
                          "img1 img4  img5 img6"
                          "img7 img4 img8 img8";
                          grid-gap: 16px;
                          padding: 20px;
}

.item{
    border: 4px solid black;
     background-size: cover;
    background-position: center;
    transition: all  0.7s;  
    
}
.item1{
    background-image: url(../img/botongaleria.jpg);
    grid-area: img1;
   }
   .item2{background-image:url(../img/imagenheroe.png);
grid-area: img2;}

   .item3{background-image: 
    url(../img/imagenfondoquehacemos.jpg);
grid-area: img3;}

.item4{background-image: url(../img/imagenquiensomos.jpeg);
grid-area: img4;}

.item5{
    background-image: url(../img/imagen5.jpg);
    grid-area: img5;
}
.item6{
    background-image: url(../img/imagen6.jpg);
    grid-area: img6;
}
.item7{background-image: url(../img/imagen7.jpg);
grid-area: img7;}

.item8{background-image: url(../img/imagen8.jpg);
grid-area: img8;}



.item:hover{ 
    filter: grayscale(0%);
transform: scale(1.2);}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
}

  
/*  
320px  Para dispositivos con pantallas pequeñas, como los teléfonos en modo vertical
480px  Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal
600px   Tabletas pequeñas, como el Amazon Kindle (600×800) y Barnes & Noble Nook (600×1024), en modo vertical
768px y 1023px Tabletas de diez pulgadas como el iPad (768×1024), en modo vertical
1024px   Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio
1200px Para pantallas panorámicas, principalmente portátiles y de escritorio*/

.footer{padding: 10px;
}





@media only screen and (min-width:0) and (max-width:576px){.navbar-collapse{
    background-color: beige;
    display: flex;
    justify-content: center !important;
}}

@media only screen and (min-width:1200px){.carta-imagen{
    background-color: gray;
    display: flex;
    justify-content: center!important;
    
    
}}

@media only screen and (min-width:0) and (max-width:754px){.call p      {
    background-color: violet;
    font-size: 20px;
color: black;}}

@media only screen and (min-width:0) and (max-width:754px){.call a   {
    
    font-size: 20px;
color: violet;
background-color: azure;
}}

@media only screen and (min-width:0) and (max-width:754px){.footer div p{
font-size: 15px;
color: aqua;}
}

@media only screen and (min-width:0) and (max-width:496px){ .video{width: 30px;
}}

